@charset "utf-8";
/* Cores do Site */
:root {
    --color1: #ffffff;
    --color2: #c1bbb1;
    --color3: #0F0C0A;
    --color4: #C71100;

    --font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#tableHeader {
    background-color: var(--color4);
    color: var(--color1);
}
.legend {    
    font-weight: lighter;
    font-size: 19pt;
    font-family: var(--font);
    color: var(--color4);
}